#produit {
  display: flex !important;
  flex-flow: row wrap;
}

#ContainerProduit {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Candy";
	 src: url(../font-awesome-4.7.0/candy_shop_2/Candy.ttf);
}





@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}


#h1 {
  text-align: center;
  font-family: "Candy";
  color: red;
}

.container{
  background-color: pink;
}


.jumbotron {
  background-color: pink;
}




#H2 {
  font-family: "Candy";
  padding-top: 3%;
  color:  #555;
}

p {
  color:  #555;
}
